
.small-screen
{
  height: calc(100% - 100px) ;
  display: block;
}

.large_screen
{
  display:none;

}
.large_menu
{
  display:none;

}
.menu_option
{
  display:none;

}
.small-menu
{
  height: 100px;
  width: 100%;
  background:#393E46;
  display: flex;
  align-items:center;
  justify-content:center;

}
.pro_icon
{
  height: 53px;
  cursor: pointer;

}
.circle
{
  margin: 4px;
  background-color:var( --color2);
  height: 70px;
  display: inline-block;
  border-radius: 40px;
  width: 70px;
  -webkit-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: #393E46;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 61px;
  width: 108px;
  align-items: center;
  display: flex;
  color:white;
  justify-content: center;
  margin-left:10px;
}
.tab-content {
  margin: 0 0 12px;
  height: calc( 100v - 80px);
  background-color: var(--color1);
  height: calc(100vh - (71px + 100px + 61px));
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: black;
  background-color:var(--color1) !important;
}

@media (min-width:300px) {
  .pro_icon
  {
    height: 43px;
    cursor: pointer;

  }
  .circle
  {
    margin: 3px;
    background-color: var( --color2);
    height: 37px;
    display: inline-block;
    border-radius: 40px;
    width: 53px;
    -webkit-border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
  }


}

@media (min-width:350px) {

  .pro_icon
  {
    height: 48px;
    cursor: pointer;

  }
  .circle
  {
    margin: 3px;
    background-color: var( --color2);
    height: 65px;
    display: inline-block;
    border-radius: 40px;
    width: 65px;
    -webkit-border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

}


@media (min-width: 500px) {

  .small-menu
{
  height: 100px;
  width: 100%;
  background:#393E46;
  display: flex;
  align-items:center;
  justify-content:center;

}
.pro_icon
{
  height: 60px;
  cursor: pointer;

}
.circle
{
  margin: 12px;
  background-color:var( --color2);
  height: 80px;
  display:inline-block;
  border-radius: 40px;
  width: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}


  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {


 }

@media (min-width: 1200px) {

  .small-screen
{
  display: none;
}
.small-menu
{

  display: none;

}
.large_menu,.large_screen , .menu_option
{
  display:inline-block;
}
.large_menu
{
  height:100%;
  width:200px;
  background-color:#393E46;
  z-index:1;



}
.large_screen
{
  height:100%;
  z-index: 0;
  width:calc(100% - 400px);


}
.outline_show
{
  position: absolute;
  top: 2%;
  left:3%;
  width: 90%;
  height: 96%;
  z-index: -1;
  padding: 4px;
}
.menu_option
{
  height:100%;
  width:200px;
  background-color:#EEEEEE;


}
.icon_house
{
  height: 88px;
  width: calc(100% + 49px);
  position: relative;
  display: flex;
  align-items: center;
  background: var( --color2);
  padding:3px;
  border-radius: 49px 0 0 49px;
}
.icon_house span{
  margin-left:20px;
  padding:10px
}
.item_profile,.item_house,.item_partner,.item_other,.item_option
{
  cursor:pointer;
}
.icon_large
{
  height: 88px;
  width: 88px;
  border-radius: 45px;
  left: -1px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_large img
{

  height: 70px;
  width: 70px;
  padding: 7px;
}
.box_menu
{
 top:50%;
 transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 height: 615px;

}
.item_house
{
  top:145px;
  z-index:3;
}
.item_profile
{
  top:30px

}
.item_other
{
  top:375px

}
.item_option
{
  top:490px

}
.item_partner
{
  top:260px

}

.box_option
{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
}
.option1
{
  height:100px;
  width:100%;
  margin-bottom:15px;
  background-color: #393E46;
  cursor: pointer;
}
.xx
{
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
}

.menu-small
{
  display: flex;
  justify-content: space-evenly;
  height: 60px;
}
.option2
{
  width: 20%;
  height: 100%;
  font-size: 11px;
}
.outline_show_small
{
  height: calc(100%);
  overflow: auto;
  padding: 0;
}

.leftToRight
{
  left: auto;
  right:-1px;
}


.pop_p
{
  font-size: 27px;
    background: #00adb5;
    padding: 1px 31px;
    border-radius: 15px;
    margin: 5px;
}

.pop{
  position: absolute;
  top: -203px;
  height: max-content;
  width: max-content;
}
