.nav_fixed
{
  position: fixed;
  top:0;
  width: 100%;
  z-index:2;
  height:fit-content;
  background:red;
}
.navbar-collapse
{
  z-index: 2;
  background: #f8f9fa;

}
.navbar-brand img
{

  height: 5em;
  width: 5em;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0,0,0,.9);
  font-size: 1.3rem;
  margin-right: 1.6vw;
}

.navbar-toggler
{
  height: 3em;
  width: 3em;
}
.navbar-toggler span
{
  font-size: 1em;

}

.shape
{
    background: var(--color2);
    position: absolute;
    height: 8rem;
    width: 6rem;
    top: -10px;
    display:none;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.langu
{
  padding: 5px;
  border: 0px solid;
}

@media (min-width: 992px) {
  .shape
  {
    display: block;

  }
}
