
.login_form
{
  width: 400px;
  height: 500px;
  position:absolute;
  top:89px;
  left:50%;
  box-shadow: 5px 5px 20px 10px black ;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.back_login
{
  margin-top:89px;
  height: calc(100vh - 89px);
}

.mat-form-field {
  width: 100%;
}
.mat-card-title
{
 width: max-content;
 margin:auto;

}



