.home_image
{

  margin-top: 5rem;

}


:host::ng-deep .logos  .p-carousel-indicators {
  padding: 1rem;
  display: none;
}

.footer_back
{
  background: #222831;
  margin: -5px 0px 0px 0px;
  height: 18vw;
}
.follow_us p
{
  font-size: 1.7vw;
  margin: 1.5vw 0px;
  color: white;
}
:host::ng-deep .links_footer .p-avatar
{
    margin-right: 0.8vw;
    font-size: 1vw;

}
.links_footer .mail
{
  font-size: 1.2vw;
    text-decoration: none;
    color: white;
    margin-right: 0.8vw;
}
.milkia p
{

  font-size: 1.8vw;
  margin: 0px 2vw 2vw 0px;

}
.milkia img
{

  margin-bottom: 4vw;
  height: 40%;
  width: 40%;

}
.numbers img
{
  display: block;
  height: 14vw;
  width: 14vw;
  margin: auto;
}
.footer
{
  height:max-content;
}

.img_fooer img
{
  height: 7vw;
  width: 6vw;
}
:host::ng-deep .opinions  .p-carousel-indicators {
  margin-top: 3vw;

}
.logo
{
  height: 8vw;
  width: 8vw;
}
.opinion
{
  height: 18vw;
  width: 28vw;
  margin-top: 33px;
  border: 0.3rem solid;
  border-radius: 1.3rem;
}
:host::ng-deep .p-carousel-content {
  direction: ltr;
}
.wava_home
{
  bottom: 0px;
  width: 100%;
  z-index: 3;
  height: 48vh;
}
.logoes
{
  bottom: 25px;
  width: 100%;
  z-index: 334;
  height: 15vh;
}


.info_website
{
  width: max-content;
  height: 32vh;
  top: 4vw;
}

.info_website  span , .info_website  p
{
  font-size: 2vw;
}
.info_website .header
{
  font-weight: bolder;
  font-size: 3vw;
  text-shadow: 2px 3px 2px black;
}
.fa-arrow-left
{
  font-size: 1.4vw;

}

.info_website button
{
  width: max-content;
  border-radius: 35px;
  padding: 0px 1.2vw;
  height: 4vw;
}
:host::ng-deep .info_website .mat-typography p  {
 margin:0px;
}
.info_website button span
{
  font-size: 1.4vw;

}



.servies
{
  width:100%;
  height: content;
  background: #EEEEEE;

}
.servie
{
  text-align: center;
  font-size: 1.5vw;
  padding-top: 2px;
}
.title
{
  font-size: 4vw;

}
.why img
{
  width: 4vw;
  height: 4vw;
  margin: 10px 0px;
}
.why span
{
  font-size: 1.5vw;

}
.mark2 img
{
  height: 3vw;
  width: 3vw;
  top: 7px;
  right: 10px;
}
.mark2 p
{
  font-size: 1.3vw;
}
.why
{
  margin-bottom: 4%;
    border: 1px solid #707070;
    padding-right: 15px;
    border-radius: 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    height: 50%;

}
.what
{
  background:#EEEEEE;
}

.why_img img
{
  width: 27vw;
  height: 20vw;
}

.full_why
{
  width:100%;
}

.header2
{
  font-size: 3vw;
  color:#84D7DB;
}

.map
{
  background: #393E46;

}
.map_pic img
{
      width: 100%;
    padding: 15px;
}

:host::ng-deep .more_contact .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin-left: 1vw;
  text-align: end;
  width:45%;
  color: black;
  font-size: 1.5vw;
}
:host::ng-deep .more_contact .p-accordion .p-accordion-header .p-accordion-header-link {
  background: transparent;
  width:100%;
  border-color: red;
  color: #343a40;
  border: none;
}


:host::ng-deep .more_contact .p-accordion  {
 margin:auto;
}
:host::ng-deep .more_contact .p-accordion-header-text {
    line-height: 1;
    font-size: 2vw;
    color: black;
}
:host::ng-deep .more_contact .pi-chevron-right:before {
  content: "\e901";
}


.social
{
  left: 1vw;
  bottom: 0.14vh;
}
.social p
{
  margin:0px;
}
:host::ng-deep .social .p-avatar.p-avatar-circle {
  margin: 0px 0.47vw;
}
.copy
{
  right: 4vw;
  bottom: 2vh;

}


@media (min-width: 400px) {

  .line_one
  {
    margin-bottom: 5px;
    margin-top: 10px;


  }
  .line_two
  {
    margin-bottom: 5px;

  }
  .social p
  {
    margin-bottom:7px;
  }




}


@media (min-width: 576px) {



.copy
{
  bottom: 4vh;

}

 }

@media (min-width: 768px) {
  .full_why
{
  width:90%;
}

.social p
{
  margin-bottom:15px;
}



}

@media (min-width: 900px) {

  .copy
{
  bottom: 6vh;

}
}

@media (min-width: 992px) {


 }

@media (min-width: 1200px) {


  .full_why
{
  width:90%;
}
.copy
{
  bottom: 10vh;

}

.social p
{
  margin-bottom:4vh;
}



}

.servies img
{
  width: 13vw;
  height: 11vw;
}
