.p-inputgroup {
  display: flex;
  align-items: stretch;
  width: 50%;
  margin: 17px auto;
  height: 40px;

}
.p-inputgroup button:last-child, .p-inputgroup input:last-child, .p-inputgroup > .p-inputwrapper:last-child > .p-component, .p-inputgroup > .p-inputwrapper:last-child > .p-component > .p-inputtext {
  width: 89px;
  border-radius: 30px;
  margin: 3px;
  margin-left: 5px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-inputgroup-addon:first-child, .p-inputgroup button:first-child, .p-inputgroup input:first-child, .p-inputgroup > .p-inputwrapper:first-child > .p-component, .p-inputgroup > .p-inputwrapper:first-child > .p-component > .p-inputtext {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  width: calc(100% - 43px);
  height: 100%;
  padding:0px 20px;
  border-radius:30px;
}
.gamha
{
  width:300px
}
.filter
{
  width:content;
}
.p-inputgroup {
  display: flex;
  align-items: stretch;
  width: 50%;
  /* margin: 17px auto; */
  display: flex;
  align-items: stretch;
  width: 50%;
  margin: 17px auto;
  outline: 3px solid;
  border-radius: 24px;
  padding: 1px;
}

:host ::ng-deep .p-scrollpanel-content {
  height:100%;
  width:100%;
  padding: 0;

}
:host ::ng-deep .p-button {

    border-radius: 30px;
    margin-top: 10px;
}

.friends
{
  border-radius: 9px;
  width:95%;
  padding:9px;
}
.friend
{
  height: 80px;
  cursor: pointer;
  margin: auto;
  width: 97%;
  border-radius: 20px;
  padding: 10px;
}
.friend_back
{
  height: 107px;
    background: var(--color1);
    padding: 0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
:host ::ng-deep .custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);

}

.add_btn , .logo_kolia , .name_friend
{
  display:inline-block;
  margin-right:7px;

}

 .logo_kolia img
{
  height: 65px;
  width: 65px;
  padding:11px;
}
.friend_pic img
{
  height: 65px;
  width: 65px;
  padding:11px;
}

.logo_kolia
{
  height: 65px;
  width: 65px;
  background:var( --color2);
  border-radius: 40px;

}
.friend_pic
{
  height: 65px;
  width: 65px;
  border-radius: 40px;
  margin-left:15px;

}
.add_btn button
{
  height: 64px;
  width: 120px;
  color: white;
  border: 3px black solid;
  background: var(--color3);
  border-radius: 18px;
  margin-right: -16px;
  font-size: 1.2vw;

}
.info_friend
{
    height: 595px;
    width: 1080px;
    border-radius: 32px;
    padding-top: 14px;
    padding-right: 10px;
}
:host ::ng-deep .p-dialog .p-dialog-header {
    background: #393E46;
    height: 30px;
    color:white;

}

.about_f_pic,.about_f_pic_kolia,.about_f_name
{
  display:inline-block;
}
.about_f_pic_kolia ,.about_f_pic
{
  height:80px;
  width:80px;
  background:white;
  border-radius: 40px;

}
.header
{
  height: 80px;

}
.about_f_name label ,.about_f_name span,.about_f_info label ,.about_f_info span
{
  display:inline-block;
  height:80px;

}
.about_f_pic_kolia , .about_f_name label
{
  background:var( --color2);
  color:white;

}
.about_f_name span
{
  border:black 2px solid;
  width: 25vw;
}
.about_f_info span
{
  height: 60px;
  width: calc(100% - 10vw) ;

}


.about_f_year
{
  display:inline-block;
  width:45%;
}
.about_f_name label ,.about_f_info label,.about_f_diana label,.about_f_job label,.about_f_hoppies label,.about_f_kolia label,.about_f_depart label,.about_f_degree label,.about_f_cooking label ,.about_f_date label,.about_f_mard label,.about_f_smoking label ,.about_f_year label
{
  height: 60px;
    width: 9vw;
    border:black 2px solid;
    background:var( --color2);
    color:white;
    text-align: center;
    line-height: 55px;
}
.etar{
  height: 70px;
  width: 70px;
  padding: 11px;
  right: 0;
}

.structure_back
{
  height: 10.5vw;
  background: #7FD6DA;
    margin: 25px;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;

}

.name_profile p
{
  font-size: 1.5vw;
}
:host::ng-deep .cc
{
  height: 5vw;
  width: 5vw;
  margin-right: 10px;

}
:host::ng-deep .structure_back .p-avatar img {
   width: 100%;
  height: 100%;
}
.wait ,.close
{
  background: red;
  height: 4vw;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px 10px;
  border-radius: 30px;
  font-size: 1.1vw;
  color:white;
  cursor: pointer;

}
.wait
{
  background: #4FCC5D;
}
.close
{
  background: #AA392D;
}
:host::ng-deep .structure_back .p-inputgroup{

  margin: 0;
  outline: 0;
  border-radius: 0px;
  padding: 0px;
}

.structure
{
  height: 80%;
  background: white;
  width: 96%;
  border-radius: 25px;
  border: 3px solid;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.about_f_name span ,.about_f_info span,.about_f_diana span,.about_f_job span,.about_f_hoppies span,.about_f_kolia span,.about_f_depart span,.about_f_degree span,.about_f_cooking span ,.about_f_date span,.about_f_mard span,.about_f_smoking span ,.about_f_year span
{
  display:inline-block;
  height: 60px;
  border:black 2px solid;
  margin-right:4px;
  text-align: center;
  line-height: 55px;
}

.about_f_pic img , .about_f_pic_kolia img
{
  height:80px;
  padding: 10px;

}
.about_f_hoppies span ,.about_f_kolia  span,.about_f_depart span ,.about_f_degree span ,.about_f_year span
{
  width:60%;

}

.about_f_diana span,.about_f_job span,.about_f_cooking span ,.about_f_mard span,.about_f_smoking span
{

  width: 173px;
}

.about_f_date span,.about_f_mard span
{
  width: calc(100% - 7.5vw);
  display:inline-block;

}
.about_f_date label
{
  width: 7vw;
  display:inline-block;

}

.about_f_date
{
  width:25%;
  display: inline-block;
  margin-right: 2%;

}

.request_btn button
{
  height:60px;
  width:200px;
}
.footer
{
    display: flex;
    align-items: stretch;
    width: 50%;
    display: flex;
    align-items: stretch;
    width: 50%;
    margin: 0;
    outline: none ;
    border-radius: none;
    padding: 0px;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}

.request_btn
{
  height:60px;
  width:300px !important;
  background:var(--color3);
  border:3px black solid;

}
.hncenter
{
  position:absolute;
  height:50px;
  width:30px;
  top:-50%;
  transform:translateX(50%)
}
:host ::ng-deep .p-dialog .p-dialog-content {
  background: #7FD6DA;

}
.order
{
  height: 190px;
  display: flex;
  align-items:center;
  justify-content:center;
  width: 92%;
  border-radius: 19px;
  border: 3px black solid;
  outline: 30px #7FD6DA solid;
  margin: 78px auto;
}

.order_pic{

  height: 190px;
  width: 220px;
  border-left: 3px black solid;

}
.order_pic
{
  display: flex;
  align-items:center;
  justify-content:center;
}
.order_logo{

  height: 190px;
  width:500px;

}
.order_buttom{

  height: 228px;
  width: 220px;
  border-right: 3px black solid;
  padding: 45px 45px 0px 0;
}

.order_pic img , .order_logo img{

  height:100%;

}
.order_buttom img{

  height:100%;

}
.order_buttom button
{
  display:block;

}

.order_buttom .call , .order_buttom .delate
{
  height: 60px;
  width: 128px;
  color: white;
  border: 3px black solid;
  border-radius: 30px;
}
.order_buttom .call
{
  background:#68BF4E;
}
.order_buttom .delate
{
  background:var(--color3);
}
.order_logo .logo_kolia
{
  width: 60px;
  height: 60px;
  border-radius: 45px;
  margin-top: 20px;


}

.order_logo span p
{
  width:calc(100% - 80px);
  margin: -4px auto;
  line-height: 30px;
  transform: translateY(-26px);
  -webkit-transform: translateY(-26px);
  -moz-transform: translateY(-26px);
  -ms-transform: translateY(-26px);
  -o-transform: translateY(-26px);
}

.name label
{
  width:40% !important;
  height:70px !important;
}

.name
{
  padding: 20px;
  background: #BEEAEC;
  border-radius: 11px;
}

.error_number
{
  text-align: center !important;
    padding: 10px !important;
    margin: 0px 0px 0px 0px !important;
    height: 39px !important;
    border-radius: 4px !important;
}

.filter2
{
  width: 161px;
  height: 48px;
  border-radius: 60px !important;
  margin: 10px;
  border: 3px solid;
  text-align: center !important;
}


 :host::ng-deep .mat-form-field-underline
  {
    display: none !important;

  }



  .info_friend {
    height: max-content !important;
    width: 100% !important;
    border-radius: 32px !important;
    padding-top: 14px !important;
    padding-right: 10px !important;
    padding: 39px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background:var(--color1)!important;
}


.label_l
{
  height: 60px !important;
    width: 110px !important;
    border: black 2px solid !important;
    background: #00ADB5 !important;
    border: 0px solid !important;
    color: black !important;
    text-align: center !important;
    line-height: 55px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    border-radius: 0 10px 10px 0px;
}

.span_n
{
  height:60px !important;
  background: white !important;
  border-radius: 10px 0px 0px 10px !important;
  border: 0px solid !important;
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
}
