<div [style.display]="change_true" *ngIf="option_main" class=" h-100 center">
  <div class=" w-100 m-auto">

    <div class="items">
        <div (click)="change_email_fun()"  class="item">
          {{'services.options.basic.Change e-mail' | translate}}
        </div>
      </div>
      <div (click)="change_password_active_fun()" class="items">
        <div class="item">
         {{'services.options.basic.Change the password' | translate}}
        </div>
      </div>
  </div>
</div>

<div *ngIf="change_email" [style.display]="change_email" class=" w-80 center   change_email p-3">
  <div class=" w-100 h-100  d-flex justify-content-center  ">
    <div class=' w-90 '>
        <h1 class=''>{{'services.options.basic.Change e-mail' | translate}} </h1>
        <div class=" p-inputgroup mb-4 justify-content-center ">
          <div class="change">
            <div class="label" [class.label_inverse]='!langfun()' >{{'services.options.basic.E-mail' | translate}}</div>
          </div>
          <div class="rmz ">
            <input type="text" [class.input_inverse]='!langfun()'>
            <div class="send">{{'services.options.basic.Send confirmation code' | translate}}</div>
          </div>
        </div>
        <div class="p-inputgroup justify-content-center">
          <div class="change">
            <div class="label" [class.label_inverse]='!langfun()' >{{'services.options.basic.confirmation code' | translate}} </div>
          </div>
          <div class="rmz ">
            <input class='ok' [class.input_inverse]='!langfun()' type="text">
            <div class="recive">{{'services.options.basic.confirm the code' | translate}} </div>
          </div>
        </div>

        <div class="w-50 m-auto mt-4 center ">
          <button (click)="back_email_fun()" pButton pRipple type="button" label="{{'services.options.basic.back' | translate}}" class="p-button-outlined p-button-rounded p-button-danger  w-50"></button>
        </div>


      </div>
   </div>
</div>

<div  [style.display]="change_password_active" class=" w-80 center  change_email p-3">
  <div class=" w-100 h-100  d-flex justify-content-center  ">
    <form [formGroup]="new_pass" class=' w-90 '>
      <h1 class=''>{{'services.options.basic.Change the password' | translate}}  </h1>
      <div class=" p-inputgroup mb-4 justify-content-center ">
        <div class="change">
          <div class="label"[class.label_inverse]='!langfun()' >{{'services.options.basic.Old password' | translate}}</div>
        </div>
        <div class="rmz ">
          <input formControlName="old_password"  [class.input_inverse]='!langfun()'ngModel=""   type="text">
        </div>
      </div>
      <div class=" p-inputgroup mb-4 justify-content-center ">
        <div class="change">
          <div class="label" [class.label_inverse]='!langfun()'>{{'services.options.basic.the new password' | translate}}</div>
        </div>
        <div class="rmz ">
          <input formControlName="password" [class.input_inverse]='!langfun()' ngModel=""   type="passord">
        </div>
      </div>
      <div class=" p-inputgroup mb-4 justify-content-center ">
        <div class="change">
          <div class="label" [class.label_inverse]='!langfun()'>{{'services.options.basic.Confirm the new number' | translate}} </div>
        </div>
        <div class="rmz ">
          <input formControlName="password_confirmation" [class.input_inverse]='!langfun()' ngModel="" type="password">
        </div>
      </div>

      <div class="save px-4 pe-4 " (click)="new_password(new_pass.value)">
       {{'services.options.basic.Saving changes' | translate}}
      </div>
      <div class="w-50 m-auto mt-2 center ">
        <button pButton (click)="back_email_fun()" pRipple type="button" label="{{'services.options.basic.back' | translate}}" class="p-button-outlined p-button-rounded p-button-danger w-30"></button>
      </div>


  </form>
</div>

</div>

<div *ngIf="option_subscribers" class="w-100 h-100    p-5 pt-0">
  <div class=" ">
    <div class='p-inputgroup  gg'>
    <div class=" w-50 h-100    subscribers">
      <div class='h-100 center     justify-content-start'>
      <span class="subscribe center"> {{'services.options.Subscription.subscription status' | translate}} </span>
      <span class="state center text-danger">{{'services.options.Subscription.not subscribed' | translate}} </span>
      </div>
    </div>

    <div class=" w-50 h-100   center justify-content-start">
      <div class=" w-50 one h-100 center row p-3 ">
        <span class="from col-4 center">{{'services.options.Subscription.From' | translate}}</span>
        <span class="from_num col center">----------</span>
      </div>
      <div class="h-100 w-50 row p-3 center  one">
        <span class="to col-4 center">{{'services.options.Subscription.To' | translate}}</span>
        <span class="to_num col center">----------</span>
      </div>
    </div>
  </div>

  </div>


    <div class=" w-100  mt-4 subscribe_options center">
      <div class='center w-90 under    position-relative  '>


      <div (click)="step2_fun()" (click)="step3_fun()"  (click)="option_subscribers=false"  class="khlfia  center">
        <div class="subscribe_nsf">{{'services.options.Subscription.Semi-annual subscription' | translate}}</div>
        <div class='value text-white'><span> 30 </span>  <span>{{'services.options.Subscription.pounds' | translate}} </span> </div>
      </div>






      <a  href='https://app.fawaterk.com/paymentRequest/show/601'  target="_blank" class="khlfia  center">
        <div class="subscribe_year">{{'services.options.Subscription.Annual subscription' | translate}}</div>
        <div class='value text-white'><span> 50 </span>  <span>{{'services.options.Subscription.pounds' | translate}} </span> </div>
      </a>

    </div>
    </div>



    <div class="mt-5 pt-3">

      <div class=" ground ">

      <div class="our">

          <div class="p-inputgroup  ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>
      <div class="our">

          <div class="p-inputgroup ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>
      <div class="our">

          <div class="p-inputgroup  ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>
      <div class="our">

          <div class="p-inputgroup ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>
      <div class="our">

          <div class="p-inputgroup  ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>
      <div class="our">

          <div class="p-inputgroup ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>
      <div class="our">

          <div class="p-inputgroup  ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>
      <div class="our">

          <div class="p-inputgroup ">
            <img src="assets/image/right-icon.png" class="" alt="">
            <span class='center'>سكن طلبة تقدم افضل الخدمات .</span>
          </div>
      </div>

    </div>


</div>

</div>

<div *ngIf="option_more" class="  w-100 h-100 center">

    <div class='w-100 center'>
      <div class=" w-50 center">
        <div class='back_delete center'>
        <div class="delete center">{{'services.options.more.Delete Email' | translate}}</div>
     </div>
  </div>
</div>

</div>




<iframe [src]="test5" title="description" class="p" width="100%" height='100%'>



</iframe>
