.button_login button
{
    height: 60px;
    width: 60%;
    margin: auto
}
.dirc
{
    direction: ltr;

}
.alert-danger
{
    top: -5px;
    right: 0;
    height: 30px;
    width: 100%;
    border-radius: 5px;
}
.form-control2
{
height: 37px;
font-size:24px;
}
.label_account
{
    height:min-content;
    font: 70px bold black;
    text-align:center
}

.signup_button
{
    width:50%;
    transform: translateX(-50%);
    left: 50%;
}
.signup_button button
{
    width: 362px;
    height: 67px;

}

.button_login
{
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height:90px;

}
.button_login button
{
    height: 60px;
    width: 80%;
    margin: auto
}
.id_pic label {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  #file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
  }



 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .small_login
  {
      display: block;
  }



  .info_person
  {
  width: 100%;
  display:inline-block;
  }
  .info_person2
  {
  width: 100%;
  margin-right: 0%;
  }

  .id_pic
  {
      width: 50%;

  }


.right-signUp
{
  width: 28%;
  display: none;


}

.left-signUp
{
  width: 100%;

  padding:40px;

}
    .right-signUp
    {
        display: none;
    }
    .box_signUp
    {
        padding: 6px;
    }
    .signup_button button
{
    width: 152px;
    height: 67px;

}
.signup_button
{
    width: 90%;
}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .small_login
    {
        display: none;
    }



    .info_person
    {
    width: 100%;
    display:inline-block;
    }
    .info_person2
    {
    width: 100%;
    margin-right: 0%;
    }

    .id_pic
    {
        width: 50%;

    }


.right-signUp
{
    width: 28%;
    display: none;


}

.left-signUp
{
    width: 100%;

    padding:40px;

}

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .id_pic
    {
        width: 50%;

    }
    .small_login
    {
        display: none;
    }
    .right-signUp
    {
        display: block;
    }


.right-signUp
{
    width: 28%;

}

.left-signUp
{
    width: 72%;

    padding:40px;

}

.terms span p
{
    font-size:17px;
    width:100%;
}



 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .info_person
    {
    width: 47%;
    display:inline-block;
    }
    .info_person2
    {
    width: 47%;
    display:inline-block;
    margin-right: 6%;
    }


.right-signUp
{
    width: 28%;
    height:100%;
    display: block;

}

.left-signUp
{
    width: 72%;
    height:100%

}



.terms p
{
    font-size:20px
}

.right-signUp h1
{
    font-size:40px;
    font-weight:bold;
    width:100%;
}
.servies
{
    margin-top: 50px;
    margin-right: -50px;
}
.servies span
{
font-size:20px;
}



.signup_button button
{
    width: 237px;
    height: 67px;
}















}


:host::ng-deep #mb-screen-action.visible .action-label
{
  display: none !important;
}

.scanner
{
  background: var( --color2);
  margin-top: 60px;
  padding: 20px;
  border-radius: 33px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}




:host::ng-deep .mat-step-header {
  overflow: hidden;
  outline: none;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  width: 18px;
}
