
<p-scrollPanel *ngIf='search_fnd' [style]="{width: '100%', height: '100%'}">

<div class="container-fluied " >

          <div class="p-inputgroup">
            <input type="text" class="center text-center p-0  w-100" pInputText placeholder="{{'services.friends.Search by name' | translate}}"   #with_name  (keydown)="get_all_friends_name(with_name.value,'','','')" >
          </div>
          <div class='filter center w-100 content mb-4   '>
            <div class='w-100 center text-center p-0 m-0 '>

              <mat-form-field appearance="fill" class="filter2">
                <mat-label>اختر الكليه</mat-label>
                <mat-select #box4 >
                  <mat-option [value]="uni.id"  *ngFor="let uni of university_collection">{{uni.university_name +" " + uni.university_collage  }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="filter2">
                <mat-label> الهوايات</mat-label>
                <mat-select #box3  >
                  <mat-option [value]="uni.value"  *ngFor="let uni of hoppies">{{uni.word  }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="filter2">
                <mat-label>التدخين </mat-label>
                <mat-select  #box2 >
                  <mat-option [value]="uni.value"  *ngFor="let uni of smoking">{{uni.word  }}</mat-option>
                </mat-select>
              </mat-form-field>

           <p-button class='me-3'  label="بحث"   (click)=" box4.value != undefined ?  box4.value :box4.value='' "   (click)=" box2.value != undefined ?  box2.value : box2.value='' "   (click)=" box3.value != undefined ?  box3.value : box3.value='' "     (click)=" get_all_friends_name('',box4.value,box3.value,box2.value)"></p-button>

              </div>
          </div>

</div>

<div class="friends tt m-auto  "  *ngFor="let data of all_friends ;index as i;last as last">

    <div  class=" friend_back  mt-4 w-100" *ngIf="gender == data.sex"   >
      <div class="search w-100 p-3" >
          <div   class='friend center justify-content-between bg-white w-100  '>
                  <div class="mx-3" >
                          <div class=" friend_pic d-inline-block">
                            <img [src]="'https://api.sakantalaba.live'+data.profile_photo" style="    border-radius: 40px;                            "  alt=" ">

                          </div>

                          <div class="logo_kolia">
                            <img src="../../assets/image/mam-logo.png" alt="">
                          </div>

                        <div class="name_friend mx-3">
                          <p >  {{data.name}} </p>
                        </div>

                  </div>

                  <div   class="add_btn" >
                    {{data.acceptor}}
                    <button *ngIf=" data.id != myId  "   class='btn btn-danger' (click)="add_friend(data.id)"  (click)="status_friends()" > اضافه</button>
                    <button *ngIf=" data.acceptor == myId  "  class='btn btn-danger' (click)="add_friend(data.id)"  (click)="status_friends()" >موافقه</button>
                    <!-- <button *ngIf=" data.acceptor == myId "  class='btn btn-danger' (click)="add_friend(data.id)"  (click)="status_friends()" >موافقه</button> -->
                    <button *ngIf=" data.id == myId  "  class='btn btn-danger' (click)="add_friend(data.id)" (click)="status_friends()"  >انا</button>
                    <!-- <button *ngIf="data.status == 1"  class='btn btn-danger' (click)="add_friend(data.id)" (click)="status_friends()"  >صديق</button> -->
                  </div>



          </div>
        </div>
    </div>


</div>

<p-scrollTop
  target="parent"
  styleClass="custom-scrolltop"
  [threshold]="10"
  icon="pi pi-arrow-up">
</p-scrollTop>
</p-scrollPanel>






<p-scrollPanel *ngIf='request_fnd' class='' [style]="{width: '100%', height: '100%'}">





  <div class=' w-100 h-100 position-relative'>
    <div class="w-100 row">
      <div (click)="friends_fun()" class="col center requests" [style.background]="friends_color" [style.color]="friends_color_2">{{'services.friends.friends' | translate}}</div>
      <div (click)="req_rcieve_fun()" class="col center requests" [style.background]="req_rcieve_color" [style.color]="req_rcieve_color_2" (click)="friend_req()">{{'services.friends.Requests Sent' | translate}}</div>
      <div (click)="req_send_fun()" class="col center requests" [style.background]="req_send_color" [style.color]="req_send_color_2">{{'services.friends.Received requests' | translate}}</div>
    </div>

<div class=""  >



    <div *ngIf="friends"  class="">
          <div class=""    >
          <div class='structure_back center'  >
            <div class="structure center p-4" >
              <div class=" w-100 h-100 p-inputgroup row">
                  <span class="col-2 center">
                    <p-avatar image="../../assets/image/male_man_boy_black_tone_avatar_people_person_icon_159369.png" styleClass="mr-2 cc" size="xlarge"></p-avatar>
                  </span>

                  <span class="center col row justify-content-between">
                  <span class=" h-100 col-4 center justify-content-start">
                    <div class=" name_profile">

                    <div class="" >
                        <p ></p>
                    </div>

                    <a style=" text-decoration: underline blue;color: blue; cursor: pointer;"  >{{'services.house.Inspection requests.View profile' | translate}}</a>
                  </div>
                  </span>

                  <span class="col center justify-content-between">
                    <p-avatar image="../../assets/image/WhatsApp_icon.png" styleClass="mr-2 cc" size="xlarge "></p-avatar>
                    <p-avatar image="../../assets/image/messenger.png" styleClass="mr-2 cc" size="xlarge"></p-avatar>
                    <p-avatar image="../../assets/image/phone.png" styleClass="mr-2 cc" size="xlarge"></p-avatar>
                    <p-avatar image="../../assets/image/delete.png" styleClass="mr-2 cc" size="xlarge"></p-avatar>
                  </span>
                </span>
                </div>
            </div>
          </div>
          </div>
    </div>


     <div *ngIf="req_rcieve" class="" >
       <div class=""  *ngFor="let item of allRelations.i_send" >
        <div class='structure_back center'    >
          <div class="structure center p-4">
            <div class=" w-100 h-100 p-inputgroup row">
                <span class="col-2 center">
                  <p-avatar image="../../assets/image/male_man_boy_black_tone_avatar_people_person_icon_159369.png" styleClass="mr-2 cc" size="xlarge"></p-avatar>
                </span>

                <span class="center col row justify-content-between">
                <span class=" h-100 col-4 center justify-content-start">
                  <div class=" name_profile">
                  <p>{{item.name}}</p>
                  <a style="    text-decoration: underline blue;color: blue; cursor: pointer;"  (click)="get_profile_id(item.user_requested)">{{'services.house.Inspection requests.View profile' | translate}}</a>
                </div>
                </span>

                <span class="col center ">
                  <div class="wait" >{{'services.house.Inspection requests.Waiting for approval' | translate}}</div>
                  <div class="close" (click)="delete_req(item.id) " (click)="status_friends()">{{'services.house.Inspection requests.cancel sending the request' | translate}}</div>
                </span>
              </span>
              </div>
          </div>
        </div>
        </div>
   </div>

        <div *ngIf="req_send" class=""  >
          <div class="" *ngFor="let item of allRelations.i_receve"  >
        <div class='structure_back center'   >
          <div class="structure center p-4">
            <div class=" w-100 h-100 p-inputgroup row">
                <span class="col-2 center">
                  <p-avatar image="../../assets/image/male_man_boy_black_tone_avatar_people_person_icon_159369.png" styleClass="mr-2 cc" size="xlarge"></p-avatar>
                </span>

                <span class="center col row justify-content-between">
                <span class=" h-100 col-4 center justify-content-start">
                  <div class=" name_profile">
                  <p>{{item.name}}</p>
                  <a style=" text-decoration: underline blue;color: blue; cursor: pointer;" (click)="get_profile_id(item.user_requested)">{{'services.house.Inspection requests.View profile' | translate}}</a>
                </div>
                </span>

                <span class="col center ">
                  <div class="wait" (click)="confirm_req(item.id)  && status_friends() ">{{'services.friends.Approval of the request' | translate}}</div>
                  <div class="close"  (click)="delete_req(item.id)  && status_friends() ">{{'services.house.Inspection requests.cancel sending the request' | translate}}</div>
                </span>
              </span>
              </div>
          </div>
        </div>
      </div>


    </div>

  </div>


  </div>
  <p-scrollTop
    target="parent"
    styleClass="custom-scrolltop"
    [threshold]="10"
    icon="pi pi-arrow-up" >
  </p-scrollTop>
</p-scrollPanel>


<p-scrollPanel *ngIf='invite' class='' [style]="{width: '100%', height: '100%'}">



<div class="">

    <div class="align-items-stretch mb-4 name offset-lg-1 col-lg  m-auto" style="width:max-content">

      <ngx-qrcode
  [elementType]="elementType"
  [value]="value"
  cssClass="aclass"
  [errorCorrectionLevel]="errorCorrectionLevel">
</ngx-qrcode>


    </div>





<div class="">
  <form [formGroup]="invite_form" (ngSubmit)="invite_fun(invite_form.value)" class=" align-items-stretch mb-4 name offset-lg-1 col-lg w-60 m-auto  ">
    <div class="center">
    <button type="submit" class="color1 center " style="    height: 70px;width: 122px;padding: 10px;color: white;" >إرسال دعوة</button>
    <input  type='text' formControlName="to" #value_invite  placeholder="ادخل رقم الواتس اب" >
  </div>

    <div  *ngIf="invite_form.get('phone')?.errors != null && invite_form.get('to')?.touched" class="d-block w-100 m-auto center">
      <p class = 'mx-3 alert-danger error_number' *ngIf="invite_form.get('to')?.errors?.required"> مطلوب  </p>
      <p class = 'mx-3 alert-danger error_number' *ngIf="invite_form.get('to')?.errors?.pattern"> رقم غير صالح</p>
    </div>
  </form>
</div>


<div class="">

  <div class="align-items-stretch mb-4 name offset-lg-1 col-lg  m-auto" style="width:max-content">
      <img src="../../../../../assets/image/whats_logo.png" class="img-fluid" style="height: 8vw;width: 8vw;" alt="" srcset="">
  </div>
</div>






</div>


  <p-scrollTop
    target="parent"
    styleClass="custom-scrolltop"
    [threshold]="10"
    icon="pi pi-arrow-up" >
  </p-scrollTop>
</p-scrollPanel>




<!-- ...........................info_user.................................. -->
<div class='info_friend mt-4   w-100 position-absolute ' *ngFor="let info of User_info?.Data_Of_User" style="z-index:3 ;    width: 100% !important;height: 88% !important;">

  <div class="header  d-flex align-items-center justify-content-around">

        <div class=" about_f_pic_kolia ">
          <p-avatar [image]="'https://api.sakantalaba.live/'+info.profile_photo" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        </div>
      <div class="about_f_name  jj  px-5 ">
        <label class='label_l '  >{{'services.profile.Personal data.Name' | translate}} </label>
        <span class='span_n'> {{info.name|ifnull}} </span>
      </div>

  </div>


  <div class='about_f_info m-2 mt-4 w-100'>
        <label class='label_l '   >{{'services.profile.interests.brief about me' | translate}}</label>
        <span class='span_n'> {{info.About|ifnull}} </span>
  </div>

      <div class="w-100 p-2">
            <div class='about_f_year  '>
              <label class='label_l '>الهوايات </label>
              <span class='span_n' > {{info.Hobbies|ifnull}} </span>
            </div>
            <div class='about_f_date  '>
              <label class='label_l '  >{{'services.profile.Personal data.Date of Birth' | translate}}</label>
              <span class='span_n' > {{info.NationalID|date2}} </span>
            </div>
            <div class='about_f_date  '>
              <label class='label_l '  >{{'services.profile.interests.Religion' | translate}}</label>
              <span class='span_n' >{{info.Religion|ifnull}}</span>
            </div>
        </div>
    <div class="w-100 p-2">

        <div class='about_f_year '>
          <label class='label_l '  >العنوان</label>
          <span class='span_n'> {{info.address|ifnull}} </span>
        </div>

        <div class='about_f_date '>
          <label class='label_l '  >{{'services.profile.interests.Smoking' | translate}} </label>
          <span class='span_n'> {{info.smoke|ifnull}} </span>
        </div>

        <div class='about_f_date '>
          <label class='label_l '  > الحاله الاجتماعيه </label>
          <span class='span_n'> {{info.Social_status|ifnull}} </span>
        </div>




    </div>



    <div class="w-100 p-2">
          <div class='about_f_year ' >
            <label class='label_l '  >{{'services.profile.Personal data.University' | translate}} </label>
            <span  class='span_n' *ngFor="let uni of User_info?.Data_Of_User"> {{uni.university?.university_name}} </span>
          </div>


          <div class='about_f_date '>
              <label class='label_l '  >{{'services.profile.interests.job' | translate}} </label>
              <span class='span_n' > {{info.job|ifnull}} </span>
          </div>
        <div class='about_f_date'>
          <label class='label_l '  > النوع </label>
          <span class='span_n' > {{info.NationalID|gender}}</span>
        </div>
    </div>



    <div class="p-inputgroup footer  m-auto w-50" style="height: 53px;margin-top: 24px !important;">

      <button class='btn btn-black request_btn m-auto ' style="    height: 55px;"  (click)="User_info = null" > رجوع</button>
    </div>
</div>
<!-- ...........................info_user.................................. -->


<!-- ...........................contact.................................. -->

<div class='info_friend mt-4   w-100 position-absolute ' *ngFor="let info of User_contact?.Data_Of_User" style="z-index:3 ;    width: 100% !important;height: 80% !important;">

  <div class="header  d-flex align-items-center justify-content-around">

        <div class=" about_f_pic_kolia ">
          <p-avatar [image]="'https://api.sakantalaba.live/'+info.profile_photo" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        </div>
      <div class="about_f_name  jj  px-5 ">
        <label class='label_l '  >{{'services.profile.Personal data.Name' | translate}} </label>
        <span class='span_n'> {{info.name|ifnull}} </span>
      </div>

  </div>


  <div class='about_f_info m-2 mt-4 w-100'>
        <label class='label_l '   > التليفون 1</label>
        <span class='span_n'> {{info.phone|ifnull}} </span>
  </div>
  <div class='about_f_info m-2 mt-4 w-100'>
        <label class='label_l '   >التليفون 2</label>
        <span class='span_n'> {{info.phone2|ifnull}} </span>
  </div>
  <div class='about_f_info m-2 mt-4 w-100'>
        <label class='label_l '   >فيسبوك</label>
        <span class='span_n'> {{info.facebook|ifnull}} </span>
  </div>




    <div class="p-inputgroup footer  m-auto w-50" style="height: 53px;margin-top: 24px !important;">

      <button class='btn btn-black request_btn m-auto ' style="    height: 55px;"   (click)="User_contact = null" > رجوع</button>
    </div>
</div>

<!-- ...........................contact.................................. -->
